@use 'sass:string';
@import "./config/default.scss", "./config/variables.scss",
  "./config/mixins.scss";

.calculator {
  background-color: $white;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  column-gap: 32px;
  padding: 32px 42px;
  border-radius: 30px;
  color: $dark-grayis-cyan;
  font-weight: bold;

  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);

  .config-calculator,
  .results-calculator {
    flex: 1;
  }
  .bill {
    display: flex;
    flex-direction: column;
    .input-icon {
      position: relative;
      input {
        @include button-gray-light;
      }
      i {
        position: absolute;
        left: 16px;
        top: 20px;
      }
    }
  }
  .select-trip {
    margin-top: 32px;
    .porcentuals {
      margin-top: 8px;
      display: grid;
      gap: 8px;
      grid-template-columns: 1fr 1fr 1fr;
      flex-wrap: wrap;
      column-gap: 8px;
      button,
      input {
        padding: 8px 18px;
        border: 0;
        border-radius: 8px;
        background-color: $very-dark-cyan;
        color: $white;
        font-weight: bold;
        transition: background-color 0.3s;
      }
      button {
        &:hover {
          color: $very-dark-cyan;
          font-weight: bold;
          background-color: rgba($color: $strong-cyan, $alpha: 0.7);
        }
      }
      input {
        width: 100%;
        background-color: rgba($color: $dark-grayish-cyan, $alpha: 0.1);
        -webkit-appearance: none;
        color: $very-dark-cyan;
        text-align: right;
        -moz-appearance: textfield;
        &::placeholder {
          color: $dark-grayis-cyan;
        }
      }
    }
  }
  .peoples {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    &-text {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    .invalid-text {
      font-size: 12px;
      color: #e53e3e;
      display: none;
      &.invalid{
        display: block;
      }
    }

    .input-icon {
      position: relative;
      
      input {
        @include button-gray-light;
        border: 1px solid transparent;
        &.invalid{
          border: 1px solid #e53e3e;
          &:focus-visible{
            outline: none;
          }
        }
      }
      i {
        position: absolute;
        left: 16px;
        top: 20px;
      }
    }
  }

  .results-calculator {
    flex: 1;
    background-color: $very-dark-cyan;
    padding: 16px 38px 32px;
    display: grid;
    border-radius: 25px;
    color: white;
    .tip-amount-text,
    .total-amount-text {
      font-size: 15px;
      display: flex;
      flex-direction: column;

      span {
        color: $dark-grayish-cyan;
        font-size: 11px;
      }
    }
    .tips-amount,
    .total-amount {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      word-break: break-all;
    }
    .total-tip-amount,
    .total {
      font-size: 42px;
      color: $strong-cyan;
    }
    .reset {
      height: 50px;
      align-self: flex-end;
      color: $dark-grayish-cyan;
      font-weight: bold;
      background-color: $strong-cyan;
      border: 0;
      border-radius: 10px;
      filter: opacity(0.3);
      cursor: pointer;
      transition: all 0.2s;
      font-size: 18px;
      &:hover {
        color: white;
        filter: opacity(1);
      }
    }
  }
}

@media(max-width: map-get($map: $devices, $key: mobile)) {
  .calculator{
    width: 100%;

    .select-trip .porcentuals{
      grid-template-columns: 1fr 1fr;
    }
    
    flex-direction: column;
    row-gap: 32px;
    padding: 32px 24px;
    .results-calculator{
      width: 100%;
    }
  }
  
}
